@page
@model Final_Project.Pages_Characters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.CharacterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.CharacterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Strength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Strength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.SpecialAbility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.SpecialAbility)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Character.CharacterID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
