@page
@model Final_Project.Pages_Characters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.CharacterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.CharacterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Strength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Strength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.SpecialAbility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.SpecialAbility)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Character?.CharacterID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
